
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-cyrilic-ext-normal.woff2") format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-cyrilic-normal.woff2") format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-greek-ext-normal.woff2") format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-greek-normal.woff2") format("woff2");
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1,
        U+03A3-03FF;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-vietnamese-normal.woff2") format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323,
        U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-latin-ext-normal.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-latin-normal.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inria-latin-1.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inria-latin-2.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inria-latin-ext1.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inria-latin-3.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inria-latin-ext2.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inria Serif";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inria-latin-4.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inria-latin-ext3.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inria-latin-5.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inria-latin-ext4.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inria-latin-6.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inria-latin-ext5.woff2") format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inria-latin-7.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-size: 1.2rem;
    line-height: 1.5;
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    padding: 0;
    font-family: "Inria Serif";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter";
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --main-light-color: #f0f0f0;
    --main-dark-color: #111111;
    --main-contrast-dark-color: #052520;
    --main-contrast-light-color: #3aac97;
}

body {
    min-height: 100vh;
    color: var(--main-light-color);
    display: flex;
    flex-direction: column;
    background-color: var(--main-dark-color);
}

a {
    color: var(--main-contrast-light-color);
}

p {
    margin: 12px 0;
}

header {
    margin-top: 32px;
}

header h1 {
    font-size: 280%;
}

.logo a {
    text-decoration: none;
    color: var(--main-light-color);
}

.logo span {
    color: var(--main-contrast-light-color);
}

.logo span.sub-path {
    font-weight: 200;
    color: var(--main-light-color);
}

.logo span.sub-path::before {
    content: "/u/";
    color: var(--main-contrast-light-color);
}

main {
    flex: 1;
}

footer {
    color: var(--main-light-color);
    font-family: "Inter";
    padding: 32px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 80%;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px 12px;
}

header > .container {
    display: flex;
    flex-direction: row;
}

header > .container > h1 {
    flex: 1;
}

.button,
header > .container nav > a {
    font-family: "Inter";
    text-decoration: none;
    background-color: var(--main-contrast-dark-color);
    padding: 4px 12px;
}

header > .container nav > a {
    font-size: 80%;
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 68px 0;
}

.members > div {
    border-left: 6px solid var(--main-contrast-light-color);
    background-color: var(--main-contrast-dark-color);
    padding: 8px;
    font-family: "Inter";
    font-size: 80%;
    text-decoration: none;
    color: var(--main-contrast-light-color);
}

.members > div > div {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.members > div > div > h2 {
    font-weight: 600;
    font-size: 100%;
    flex: 1;
}

.members > div > div > span {
    text-transform: uppercase;
    font-weight: 200;
}

.members > div > nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.members > div > nav > a {
    text-decoration: none;
    background-color: var(--main-dark-color);
    padding: 0 6px;
    font-size: 80%;
}

.no-elts {
    color: var(--main-contrast-light-color);
    border-left: 8px solid var(--main-contrast-dark-color);
    padding: 32px;
    margin: 64px 0;
    font-family: "Inria Serif";
    font-size: 180%;
}

.member {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.member > div:first-child {
    flex: 1;
}

.member > div:last-child {
    flex: 4;
}

.member section {
    margin-top: 64px;
    font-family: "Inter";
}

.member h2 {
    font-weight: 400;
    margin-bottom: 24px;
}

.member .link-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.member .link-list > div {
    background-color: var(--main-contrast-dark-color);
    padding: 4px 12px;
    font-size: 80%;
}

.member nav > div > a,
.member .link-list > div > a {
    text-decoration: none;
    font-weight: 300;
}

.member nav {
    display: flex;
    background-color: var(--main-contrast-dark-color);
    font-family: "Inter";
    flex-direction: row;
}

.member nav > div {
    flex: 1;
    padding: 4px 8px;
}

.member nav > div:last-child {
    text-align: right;
}

section.articles {
    margin-top: 64px;
    font-size: 90%;
    padding-bottom: 32px;
}

section.articles article {
    border-bottom: 4px solid var(--main-contrast-dark-color);
    padding-bottom: 32px;
    margin-bottom: 32px;
}

section.articles article:last-child {
    border-bottom-color: transparent;
}

section.articles .lang > span {
    margin-bottom: 12px;
    background-color: var(--main-contrast-dark-color);
    padding: 4px 12px;
    display: inline-block;
    color: var(--main-contrast-light-color);
    font-family: "Inter";
    text-transform: uppercase;
}

section.articles .date span {
    color: var(--main-contrast-light-color);
    font-weight: 700;
    font-family: "Inter";
}

section.articles .date a {
    margin-left: 4px;
}

section.articles h2 {
    margin-bottom: 12px;
}

section.articles h2 > a {
    text-decoration: none;
    color: var(--main-light-color);
    font-weight: 300;
}

section.articles p {
    padding: 12px 0;
    font-weight: 200;
}

section.articles ul.tags {
    padding: 0;
}

section.articles ul.tags > li:first-child {
    padding-left: 0;
}
section.articles ul.tags > li {
    list-style: none;
    display: inline-block;
    padding: 4px;
    font-weight: 300;
    font-family: "Inter";
}

section.articles ul.tags > li::before {
    content: "#";
    color: var(--main-contrast-light-color);
}

footer nav {
    margin-top: 32px;
    font-size: 80%;
}

@media all and (max-width: 1024px) {
    .members {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (orientation: portrait), @media all and (max-width: 820px) {
    body {
        font-size: 1.5rem;
        line-height: 1.8;
        line-height: calc(1em + 0.8rem);
    }

    .members {
        grid-template-columns: repeat(1, 1fr);
    }

    header h1 {
        line-height: 4rem;
        margin-bottom: 32px;
    }

    .member {
        flex-direction: column;
    }

    .member .link-list {
        flex-direction: column;
    }

    .member img {
        margin: 32px auto;
    }

    header > .container {
        flex-direction: column;
    }
}
