:root {
    --main-light-color: #f0f0f0;
    --main-dark-color: #111111;
    --main-contrast-dark-color: #052520;
    --main-contrast-light-color: #3aac97;
}

body {
    min-height: 100vh;
    background-color: var(--main-light-color);
    color: var(--main-light-color);
    display: flex;
    flex-direction: column;
    background-color: var(--main-dark-color);
}

a {
    color: var(--main-contrast-light-color);
}

p {
    margin: 12px 0;
}

header {
    margin-top: 32px;
}

header h1 {
    font-size: 280%;
}

.logo span {
    color: var(--main-contrast-light-color);
}

main {
    flex: 1;
}

footer {
    color: var(--main-light-color);
    font-family: "Inter";
    padding: 32px 0;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 80%;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px 12px;
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 68px 0;
}

.members > div {
    border-left: 8px solid var(--main-contrast-light-color);
    background-color: var(--main-contrast-dark-color);
    padding: 8px;
    font-family: "Inter";
    font-size: 80%;
    text-decoration: none;
    color: var(--main-contrast-light-color);
}

.members > div > div {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.members > div > div > h2 {
    font-weight: 600;
    font-size: 100%;
    flex: 1;
}

.members > div > div > span {
    text-transform: uppercase;
    font-weight: 200;
}

.members > div > nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.members > div > nav > a {
    text-decoration: none;
    background-color: var(--main-dark-color);
    padding: 0 6px;
    font-size: 80%;
}

.no-members {
    color: var(--main-contrast-light-color);
    border-left: 8px solid var(--main-contrast-dark-color);
    padding: 32px;
    margin: 64px 0;
    font-family: "Inria Serif";
    font-size: 180%;
}

@media all and (max-width: 1024px) {
    .members {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 800px) {
    body {
        font-size: 1.5rem;
        line-height: 1.8;
        line-height: calc(1em + 0.8rem);
    }

    .members {
        grid-template-columns: repeat(1, 1fr);
    }

    header h1 {
        line-height: 4rem;
    }
}
