<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {%- if has_description -%}
    <meta name="description" content="{{ description }}" />
    {%- endif -%}
    <title>
      ring.muhokama.fun{%- if has_page_title %} - {{ page_title }}{%- endif -%}
    </title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">
          <a href="/">ring.<span>muhokama</span>.fun</a> {%- if has_sub_path -%}
          <span class="sub-path">{{ sub_path }}</span>
          {%- endif -%}
        </h1>
        <div>
          <nav><a href="/blog.html">Federated blog</a></nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        {%- autoescape false -%} {{ yocaml_body }} {%- endautoescape -%}
      </div>
    </main>
    <footer>
      <div class="container">
        <strong class="logo">ring.<span>muhokama</span>.fun</strong><br />
        <p>
          is a
          <a href="https://github.com/muhokama/ring">free software</a> proudly
          propulsed by <a href="https://gitlab.com/funkywork/yocaml">YOCaml</a>
        </p>
      </div>
    </footer>
  </body>
</html>
